@keyframes heart-scale {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  to {
    transform: scale(1);
  }
}

@keyframes sparks-visibility {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Общие кнопки */

.button {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.save-button__icon {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

/* Кнопка иконки сердца */

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  padding: 0;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: var(--accent-color);
}

/* Иконка сердца */

.like-icon {
  display: block;
  cursor: pointer;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon .core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon .sparks {
  opacity: 0;
}

/* hover */

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

/* уход курсора */

.like-icon:not(:hover) .core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon:not(:hover) .main-body {
  transition: fill 0.3s linear;
}

/* active */

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

/* liked */

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in 1;
}

.like-icon.is-liked .sparks {
  animation: sparks-visibility 0.3s 0.3s ease-in 1;
}

/* быстрый возврат контура */

.like-icon:not(.is-liked) .contour {
  transition: fill 0.1s linear;
}